<header class="header">
    <div class="logo">
      <span> <h1 class="logo">EDU</h1></span>
      <hr class="hr1">
    </div>
    <nav class="nav">
      <ul>
        <li><a href="/home">მთავარი</a></li>
        <li><a href="/about">ჩვენს შესახებ</a></li>
        <li><a href="/contact">კონტაქტი</a></li>

      
      <li><a href="/login"> <button class="btn1">შესვლა</button></a></li>
      <li><a href="/signup"> <button class="btn1">  რეგისტრაცია</button></a></li>
      </ul>
      <hr class="hr1">
    </nav>
    
  </header>
  
