
<div class="outer">
<div class="login-container">
    <h2 class="title">შესვლა</h2>
    <form>
      <div class="form-group">
        <label for="username">მომხმარებელი</label>
        <input type="text" id="username" name="username"  required>
      </div>
      <div class="form-group">
        <label for="password">პაროლი</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <button type="submit">შესვლა</button>
      </div>
    </form>
  </div>
</div>

  <app-footer></app-footer>