
<div class="outer">
<div class="contact-form">
    <h2>Contact Us</h2>
    <form >
      <div class="form-group">
        <label for="name">სახელი:</label>
        <input type="text" id="name" name="name">
      </div>
      <div class="form-group">
        <label for="email">ელ-ფოსტა:</label>
        <input type="email" id="email" name="email" >
      </div>
      <div class="form-group">
        <label for="message">შეტყობინება:</label>
        <textarea id="message" name="message" ></textarea>
      </div>
      <button type="submit" onclick="alert('თქვენი შეტყობინება გაგზავნილია!')">გაგზავნა</button>
    </form>
  </div>
</div>
  
<app-footer></app-footer>