
     
  <h1 class="OurCourses"> საგანმანათლებლო წიგნები  <i style='font-size:24px' class='fas'>&#xf061;</i>	</h1>
  <div class="card-container">
  
    <div class="card">
      <h3>სათაური</h3>
      <p>ავტორი</p>
      <p>გამომცემლობა</p>
      <a href="http://localhost:4200/signup"><button class="btnbuy">ყიდვა</button></a>
    </div>
    
  
      
    <div class="card">
      <h3>სათაური</h3>
      <p>ავტორი</p>
      <p>გამომცემლობა</p>
      <a href="http://localhost:4200/signup"><button class="btnbuy">ყიდვა</button></a>
    </div>
    
   
    <div class="card">
      <h3>სათაური</h3>
      <p>ავტორი</p>
      <p>გამომცემლობა</p>
      <a href="http://localhost:4200/signup"><button class="btnbuy">ყიდვა</button></a>
    </div>
  </div>
 
  
<br>
<br>

<div class="card-container">
  <div class="card">
    <h3>სათაური</h3>
    <p>ავტორი</p>
    <p>გამომცემლობა</p>
    <a href="http://localhost:4200/signup"><button class="btnbuy">ყიდვა</button></a>
  </div>
    
  
    <div class="card">
      <h3>სათაური</h3>
      <p>ავტორი</p>
      <p>გამომცემლობა</p>
      <a href="http://localhost:4200/signup"><button class="btnbuy">ყიდვა</button></a>
    </div>
   
    <div class="card">
      <h3>სათაური</h3>
      <p>ავტორი</p>
      <p>გამომცემლობა</p>
      <a href="http://localhost:4200/signup"><button class="btnbuy">ყიდვა</button></a>
    </div>
    </div>
  
  
  <br>
  <br>
  

     
<h1 class="OurCourses"> სამეცნიერო წიგნები  <i style='font-size:24px' class='fas'>&#xf061;</i>	</h1>
<div class="card-container">
<div class="card">
  <h3>სათაური</h3>
  <p>ავტორი</p>
  <p>გამომცემლობა</p>
  <a href="http://localhost:4200/signup"><button class="btnbuy">ყიდვა</button></a>
</div>
  

  <div class="card">
    <h3>სათაური</h3>
    <p>ავტორი</p>
    <p>გამომცემლობა</p>
    <a href="http://localhost:4200/signup"><button class="btnbuy">ყიდვა</button></a>
  </div>
 
  <div class="card">
    <h3>სათაური</h3>
      <p>ავტორი</p>
      <p>გამომცემლობა</p>
    <a href="http://localhost:4200/signup"><button class="btnbuy">ყიდვა</button></a>
  </div>
  </div>


<br>
<br>



<div class="card-container">
  <div class="card">
    <h3>სათაური</h3>
    <p>ავტორი</p>
    <p>გამომცემლობა</p>
    <a href="http://localhost:4200/signup"><button class="btnbuy">ყიდვა</button></a>
  </div>
    
  
    <div class="card">
      <h3>სათაური</h3>
      <p>ავტორი</p>
      <p>გამომცემლობა</p>
      <a href="http://localhost:4200/signup"><button class="btnbuy">ყიდვა</button></a>
    </div>
   
    <div class="card">
      <h3>სათაური</h3>
      <p>ავტორი</p>
      <p>გამომცემლობა</p>
      <a href="http://localhost:4200/signup"><button class="btnbuy">ყიდვა</button></a>
    </div>
    </div>
  
  
  <br>
  <br>
  


  <app-footer></app-footer>