
<div class="outer">

<div class="home">
  <div class="card8">
 
    <div class="search-container">
      <form class="example" action="/action_page.php" style="margin:auto;max-width:300px" action="/action_page.php">
        <input type="text" placeholder="ძებნა.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>

    </div>
    </div>
   
      
  <h1 class="OurCourses"> ჩვენი კურსები   <i style='font-size:24px' class='fas'>&#xf061;</i>	</h1>
  <div class="card-container">
  
    <div class="card" *ngFor="let item of this.services">
      <h3>{{item.title}}</h3>
      <h3>{{item.description}}</h3>
      <h3>{{item.lessons}}</h3>      
      <a class="btnbk" href="/service/{{item.id}}">enter</a>
    </div>
    
<br>
<br>

<h1 class="h1">კატეგორიები  	<i style='font-size:24px' class='fas'>&#xf061;</i></h1>

  
    <div class="card-container">
    
      <div class="card">
        <a href=""><h3></h3></a>
        <h1 class="h1bk">ონლაინ წიგნები </h1>
        <a href="/bookshop"> <button class="btnbk">შესვლა </button></a>
        
      </div>
     
    <div class="card">
      <h3>Service 2</h3>
      <p>Description of Service 2</p>
      <button class="btnbk"> Learn More</button>
    </div>

    <div class="card">
      <h3>Service 2</h3>
      <p>Description of Service 2</p>
      <button class="btnbk"> Learn More</button>
    </div>



    <div class="card">
      <h3>Service 3</h3>
      <p>Description of Service 3</p>
      <button class="btnbk">Learn More</button>
    </div>
  </div>

  

</div>
</div>
<img [src]="tastimage" alt="">
<app-footer></app-footer>
  
